@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-bar {
  position: fixed;
  top: 90%;
  left: 95%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

a:hover {
  text-decoration: none;
  color:inherit;
  opacity: 0.9;
}

a{
  text-decoration: none;
  /* color:black; */
  cursor:pointer;
}

@media screen and (max-width: 480px) {
  .icon-bar {
    position: fixed;
    top: 95%;
    left: 85%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.lato {
  font-family: "Lato", sans-serif;
}

.section-title-before {
  @apply before:content-[url("/assets/svg/heading-left.svg")] before:absolute before:-translate-x-full before:-translate-y-2/4;
}

.section-title-after {
  @apply after:content-[url("/assets/svg/heading-right.svg")] after:absolute after:-translate-y-1/4;
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* For Chrome */
::-webkit-scrollbar-thumb {
  background-color: #3ec14b; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners */
}

/* For WebKit browsers */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}









@layer base {
  * {
      @apply p-0 m-0 box-border;
  }
  section {
      @apply relative min-h-screen py-[70px] overflow-hidden;
  }

  img {
      @apply w-full h-full object-cover select-none;
  }
}

@layer components {
  .link {
      @apply outline-none font-medium text-lg text-gray-100 cursor-pointer transition-colors hover:text-gray-100;
  }

  .btn {
      @apply px-6 rounded-full w-fit h-14 font-medium text-lg transition-colors duration-300;
  }

  .btn-primary {
      @apply rounded-full bg-gray-100 text-gray-100 hover:bg-gray-100 active:bg-gray-100;
  }

  .btn-outline {
      @apply bg-gray-100 border border-solid border-gray-100 text-gray-500 hover:bg-greenPrimary hover:text-white;
  }

  .section-title-before {
      @apply before:content-[url("./assets/heading-left.svg")] before:absolute before:-translate-x-full before:-translate-y-2/4;
  }

  .section-title-after {
      @apply after:content-[url("./assets/heading-right.svg")] after:absolute after:-translate-y-1/4;
  }
}
 
[data-difficulty="beginner"] {
  --bg: #049905;
  --bg-alpha-35: rgba(4, 154, 4, 0.35);
}

[data-difficulty="intermediate"] {
  --bg: #f89e00;
  --bg-alpha-35: rgba(250, 158, 0, 0.35);
}

[data-difficulty="advanced"] {
  --bg: #f3381d;
  --bg-alpha-35: rgba(242, 57, 28, 0.35);
}
